<div class="row justify-content-md-center profile-wrapper">  
    <div class="col-md-4 text-center">
        <% if @user.image.attached? %>
            <%= image_tag @user.image, class: 'round-img' %>
                <% else %>
            <% end %>
            <%= @user.pronouns %>
    </div>

    <div class="col-md-8">
        <div class="row">
            <p class="username">
                <%= @user.username %>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
            </p>
            <div class="fw-bold">
                <%= @user.posts.count %> <%="post".pluralize(@user.posts.count) %> 
            </div>
        <div>
        <div class="row">
            <p class="email">
                <%= @user.bio %>
                <%= @user.website %>
            </p>
        <div>
    </div>
</div>