    <div id="new-post" style="margin-left: auto; margin-right: auto; text-align: center;" >
        
        <%= form_with model: @post, html: { multipart: true } do |f| %>
        <div class="container">
            <div class="row">
                <div class="col" style="margin-left: auto; margin-right: auto; gap: 5px; flex-wrap: wrap;">
                    <div data-new-post-form-target="preview">
                        <%= image_tag "icons/image-gallery.png", width: "70px", class: "mb-2" %>
                        <p class="fs-5">Upload photos here</p>
                    </div>
                    <%= link_to "Select from computer", "", data: { action: "click->new-post-form#selectFile" }, id: "post-select-file-button", class: "btn btn-primary", style: "margin-top: 20px"%>
                    <%= f.file_field :images, multiple: true, data: { "new-post-form-target": "photoFile", action: "change->new-post-form#preview" }, class: "d-none" %>
                </div>
                <div data-new-post-form-target="textForm" class="col hidden">
                    <div class="user-header" style="text-align: left; vertical-align:top;">
                        <% if current_user.image.attached? %>
                        <%= image_tag(current_user.image, class: "round-img-nav") %>
                        <% else %>
                        <% end %>
                        <p style="display: inline-block;"> <%= current_user.username %></p>
                    </div>
                    <div class="field">
                        <%= f.label :description, class: "control-label" %>
                        <%= f.text_area :description, class: "text_field form-control",size: "30x6" %>
                    </div>
                    <div class="error-msg">
                        <% if Post.new.errors[:description].any? %>
                            <p style="color: red">
                                <%= Post.new.errors.full_messages_for(:description).join(" , ")%>
                            </p>
                    </div>
                    <% end %>
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                </div>
            </div>
        </div>
        <% end %>
    </div>