    <div class="modal fade modal-size animation" id="newpostModal" tabindex="-1" aria-labelledby="newpostmodalLabel" aria-hidden="true" data-controller="new-post-form">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" data-new-post-form-target="modalSize">
          <div class="modal-header" style="display: flex; justify-content: center; align-items: center; width:100%">
                <h3 class="modal-title fs-6 fw-bold" style="margin:0; text-align: center; flex-grow: 1;" id="newpostmodalLabel">Create New Post</h3>
                <button data-new-post-form-target="nextButton" data-action="click->new-post-form#revealForm" class="btn text-decoration-none nav-link px-0" style="text-align: right; display: none;">Next</button>
          </div>
          <div class="modal-body d-flex justify-content-center align-items-center">
            <div style="margin-left: auto; margin-right: auto; text-align: center">
              
              
              <%= form_with model: Post.new, html: { multipart: true } do |f| %>
                <div class="container">
                    <div class="row">
                        <div class="col" style="margin-left: auto; margin-right: auto; gap: 5px; flex-wrap: wrap;">
                            <div data-new-post-form-target="preview">
                                <%= image_tag "icons/image-gallery.png", width: "70px", class: "mb-2" %>
                                <p class="fs-5">Upload photos here</p>
                            </div>
                            <%= link_to "Select from computer", "", data: { action: "click->new-post-form#selectFile" }, id: "post-select-file-button", class: "btn btn-primary", style: "margin-top: 20px"%>
                            <%= f.file_field :images, multiple: true, data: { "new-post-form-target": "photoFile", action: "change->new-post-form#preview" }, class: "d-none" %>
                        </div>
                        <div data-new-post-form-target="textForm" class="col hidden">
                            <div class="user-header" style="text-align: left; vertical-align:top;">
                                <% if current_user.image.attached? %>
                                <%= image_tag(current_user.image, class: "round-img-nav") %>
                                <% else %>
                                <% end %>
                                <p style="display: inline-block;"> <%= current_user.username %></p>
                            </div>
                            <div class="field">
                                <%= f.label :description, class: "control-label" %>
                                <%= f.text_area :description, class: "text_field form-control",size: "30x6" %>
                            </div>
                            <div class="error-msg">
                                <% if Post.new.errors[:description].any? %>
                                    <p style="color: red">
                                        <%= Post.new.errors.full_messages_for(:description).join(" , ")%>
                                    </p>
                            </div>
                        <% end %>
                        <%= f.submit "Submit", class: "btn btn-primary" %>
                        </div>
                    </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>