<h1>You're at the Posts Index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
    <div class="post-index-container row">
        <div class="column">
            <div class="row">
                <p>
                    <% if post.user.image.attached? %>
                        <%= image_tag(post.user.image, class: "round-img-nav") %>
                    <% end %>
                    <%= link_to post.user.username, post.user, method: :get, style: "text-decoration:none" %> • <%= link_to post_date_short(post), post, style: "text-decoration: none", method: :get, data: { turbo_frame: 'modal'} %>
                </p>
            </div>

            <div class="row">
                <% if post.images.count == 1 %>

                    <div>
                        <%= image_tag(post.images[0], style: "object-fit: cover; width: 300px; height: 300px;") %>
                    </div>

                <% elsif post.images.count > 1 %>

                    <div id="carouselExampleIndicators<%= post.id %>" class="carousel slide">
                        <div class="carousel-indicators">
                            <% post.images.count.times do |i| %>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="<%= "active" if i.zero? %>" aria-current="true" aria-label="Slide <%= i %>"></button>
                            <% end %>
                        </div>
                        <div class="carousel-inner">
                            <% post.images.each_with_index do |image, index| %>
                                <div class="carousel-item <%= "active" if index.zero? %>">
                                    <%= image_tag(image, class: "d-block w-100", alt: "#{index.ordinalize} image", style:"width: 300px; height: 300px; object-fit: cover;") %>
                                </div>
                            <% end %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_<%= post.id %>" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= post.id %>" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                <% end %>
            </div>

            <!----- Like, Comment, Share & Bookmark icons ------>

            <%= render partial: "posts/like_button", locals: { likeable: post } %>
                        
            <div class="row">
                <p class="fs-6"><%= post.user.username %> <%= post.description %></p>
            </div>

            <div class="row">
                <%= turbo_stream_from post, :comments%>

                <%= tag.div id: "#{dom_id(post)}_comments" do %>
                    <%= render partial: "comments/comment_with_replies", collection: post.comments, as: :comment %>
                <% end %>
            </div>

            <div class="row">
                <%= render partial: "comments/form", locals: {comment: Comment.new, commentable: post } %>
            </div>   
        </div>
    </div>    
<% end %>
